<div id="container_list_view" class="container-fluid container-list-view">
    <div class="row">
        <div class="col-md-12">
            <table id="tbl_list_view" class="table">
                <thead></thead>
                <tbody></tbody>    
            </table>
        </div>
    </div>
</div>