<div id="container_page_view" class="container-fluid container-page-view" >
    <div class="row">
        <div class="col-md-9">
            <span id="diff_title" class="diff-title"></span><br>
            <a id="diff_page_url" class="diff_page_url" href="#"></a>
        </div>
        <div class="col-md-3">
            <nav aria-label="...">
                <ul class="pager">
                    <li><a href="#" id="prev_index"><i class="fa fa-arrow-left" aria-hidden="true"></i> Previous</a></li>
                    <li><a href="#" id="next_index">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
                </ul>
            </nav>
        </div>
        
    </div>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <i class="fa fa-toggle-on" aria-hidden="true"></i>
            <a id="lnk_toggle_signifiers" class="lnk-action" href="#">Toggle Signifiers</a> 
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <a id="lnk_update_record" class="lnk-action" href="#">Update Record</a>
            <i class="fa fa-list" aria-hidden="true"></i>
            <a id="lnk_view_list" class="lnk-action" href="#">Back to list view</a>
        </div>
        <div class="col-md-6 text-right">
            <i class="fa fa-upload" aria-hidden="true"></i>
            <a id="lnk_add_important_change" class="lnk-action" href="#">Add Important Change</a>
            <i class="fa fa-database" aria-hidden="true"></i>
            <a id="lnk_add_dictionary" href="#">Add to Dictionary</a>
        </div>
    </div>
    
    <% include tools.ejs %>
    
    <hr />
    <div class="row">
        <div class="col-md-12">
            <a id="lnk_last_two_diff" href="#" target="_blank" rel="noopener">Last two diff </a> || 
            <a id="lnk_last_to_base_diff" href="#" target="_blank" rel="noopener">Last to base diff</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe id="diff_view" srcdoc="Diff view should go here with different modes and such" height="200"></iframe>
        </div>
    </div>
</div> <!-- END container-fluid -->